/* Global styles */

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.fontLoaded {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
    margin: 0 0 18px;
}

:global(#app) {
    background-color: #eef3f7;
    min-height: 100%;
    min-width: 1210px;
}

.app__container {
    display: flex;
    width: 1210px;
    margin: 0 auto;
    padding: 24px 20px;
    min-height: 100%;
}

.app__content {
    flex-grow: 1;
}
